.cont{
  background-color:white;
}

.hed{
  background-color:#FF0000;
  padding-top: 20px;
  height:50px;
  text-align:center;
  position: fixed;
  top: 0;
  width: 100%;
}

.hov{
  color:white;
  text-decoration: none;
}
.hov:hover{
  color:yellow;
  text-decoration: none;
}

.slide{
  background-color:white;
}

.impos{
  margin-top:-40px;
  float:left;
}

.abt{
  background-color:white;
  margin:0;
  padding:2%;
}

.loc{
 background-color:white;
}

.locd{
  color:orange;
  font-family:cursive;
}

.cart{
  float:right;
  font-size:20px;
  background-color:yellow;
  border-radius: 10px;
  
}

.cart:hover{
  background-color: white;
}

.ob{
  border:0;
  border-radius:10px;
  background-color: yellow;
  color: red;
  font-size:20px;
}

/*Added from w3schools*/
* {box-sizing:border-box}

.mySlides {
  display: none;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*
.hed {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


.hed a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  margin-top: 30px;
}
*/
